@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f5;
  --foreground: #18181b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #f4f4f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}
